<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>English Smart Cards</title>

    <!-- Favicon - loaded as static -->
    <link
      rel="icon"
      href="/static/assets/img/brand/favicon.png"
      type="image/png"
    />
    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
    />
    <!-- Icons -->
    <link
      rel="stylesheet"
      href="/static/assets/vendor/nucleo/css/nucleo.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
      type="text/css"
    />
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link
      rel="stylesheet"
      href="/static/assets/css/englishCards.css"
      type="text/css"
    />
  </head>

  <body class="">
    <!-- Side-Nav-Bar -->

    <nav
      class="navbar navbar-top navbar-expand navbar-dark bg-dark border-bottom"
    >
      <!-- Brand -->
      <div class="container-fluid">
        <a class="justify-content-center mb-0" href="{{url_for('home')}}">
          <h1 class="text-secondary mb-0">English Smart Cards</h1>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar links -->

          <ul class="navbar-nav align-items-center ml-auto">
            <li class="nav-item">
              <a
                class="nav-link {% if 'index' in segment %} active {% endif %}"
                href="{{ url_for('show_card',word_id=min_index)}}"
              >
                <i class="ni ni-tv-2 text-primary"></i>
                <span class="nav-link-text">Card View</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="{{ url_for('logout')}}"
                class="nav-link {% if 'index' in segment %} active {% endif %}"
              >
                <i class="ni ni-tv-2 text-primary"></i>
                <span class="nav-link-text">Logout</span>
              </a>
            </li>
            <li class="nav-item">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="" src="" />
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <a
                    href="{{ url_for('home')}}"
                    class="nav-link {% if 'index' in segment %} active {% endif %}"
                    ><span class="mb-0 text-sm font-weight-bold">
                      {{current_user.name}}
                    </span></a
                  >
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page content -->
    {% block content %}{% endblock content %} {% include
    "dependencies/scripts.html" %}
    <script src="/static/assets/js/argon.js?v=1.2.0"></script>
  </body>
</html>
